<div *ngIf="loader" id="add_loading">
	<i id="add_loading_image" class="md-spinner md-spinner--56 md-spinner--blue"></i>
</div>
<app-header></app-header>
<div class="container">
	<div id="contentDiv">
		<div class="row">
			<div class="col-sm-7">
				<div class="md-input-group small-12 columns">
					<input class="md-input" id="roomName" type="text" placeholder="{{ 'WEBEX.CREATEROOMINFO' | translate }}"
						[(ngModel)]="roomName">
				</div>
			</div>
			<div class="col-sm-2">
				<button id="createRoom" class="md-button md-button--blue" (click)="createRoom()">{{ 'WEBEX.CREATEROOM' | translate }}</button>
			</div>
		</div>
		<div class="row">
				<button type="button" class="md-button md-button--blue" id="listRoom" (click)="listRooms()">{{ 'WEBEX.LOADCONTACTS' | translate }}</button>
		</div>
		<div *ngIf="webexSpace">
			<div class="row">
				
					<div class="col-sm-7">
						<select id="webexRooms" class="browser-default custom-select" name="space"
							[(ngModel)]="selectedRoomId" #space="ngModel">
							<option *ngFor="let rooms of room" [value]="rooms.id">{{rooms.title}}
							</option>
						</select>
					</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<div class="md-input-group small-12 columns">
						<input class="md-input" id="memberEmail" type="email" placeholder="{{ 'WEBEX.ADDMEMBERINFO' | translate }}"
							[(ngModel)]="memberEmail">
					</div>
				</div>
				<div class="col-sm-2">
					<button type="button" class="md-button md-button--blue" id="addMember"
						(click)="addMemebersToSpace()">{{ 'WEBEX.ADDMEMBER' | translate }}</button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<div class="md-input-group small-12 columns">
						<input class="md-input" id="message" type="text" placeholder="{{ 'WEBEX.MESSAGEINFO' | translate }}"
							[(ngModel)]="message">
					</div>
				</div>
				<div class="col-sm-2">
					<button type="button" class="md-button md-button--blue" id="sendMessage"
						(click)="sendMessageToSpace()">{{ 'WEBEX.SEND' | translate }}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<app-dialog *ngIf="showAlertMessage" [showOk]="true" [showCancel]="false" [modalMessage]="dialogMessage"
	(okDialogEvent)="okDialogAction()"></app-dialog>